html{
	font-size: calc(100vw/7.5);
}
body{
	background-image: url(../images/bg.jpg);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-size: 100% 100%;
}
*{
	margin:0;
	padding: 0;
}
.hide{
	display: none;
}
#container{
    position: absolute;
    transform-style: flat;
    perspective: 640px;
    overflow: hidden;
    width: 100%;
    height: 1170px;
    z-index: 1;
}
#box2{
	position: absolute;
	left: 50%;
	transform:translate3d(-50%, -50%, 0px) translate3d(0px,-250px, 380px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform-style: preserve-3d;
	transform-origin: 50% 50% 0px;
}
#box1{
	position: absolute;
	left: 50%;
	transform:translate3d(-50%, -50%, 0px) translate3d(0px,0px, -150px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform-style: preserve-3d;
	transform-origin: 50% 50% 0px;
}
#box{
	position: absolute;
	left: 50%;
	transform:translate3d(-50%, -50%, 0px) translate3d(0px,0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
	transform-style: preserve-3d;
	transform-origin: 50% 50% 0px;
}
#box>div{
	position: absolute;
	width: 129px;
	height: 1170px;
	transform-style: preserve-3d;
	backface-visibility: hidden;
}
#item{
	position: absolute;
	left: 50%;
	transform:translate3d(-50%, -50%, 0px) translate3d(0px,0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) ;
	transform-style: preserve-3d;
	transform-origin: 50% 50% 0px;
}
#item>div{
	width: 129px;
	position: absolute;
	backface-visibility: hidden;
}